CONTROLLER_URL=https://ocp.pontium.org
INVITATION_TOKEN=inv_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OLLAMA_URL=http://host.docker.internal:11434
POLL_INTERVAL=30
MAX_CONCURRENT_JOBS=1
HOSTNAME=my-desktop
CONFIG_DIR=/app/data
